@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: #041562;
}

#seleccionar-mascota {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.titulo {
    color: white;
    font-family: 'Fredoka One', cursive;
    font-size: 32px;
}

.subtitulo {
    color: white;
    font-size: 20px;
}

.tarjetas, .tarjetas-ataques {
    display: flex;
    gap: 10px;
}

.tarjeta-de-mokepon {
    width: 180px;
    height: 100px;
    background-color: #11468F;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}

.tarjeta-de-mokepon img {
    width: 80px;
}
#boton-mascota {
    width: 180px;
    height: 40px;
    background-color: transparent;
    border-radius: 20px;
    padding: 5px;
    color: white;
    box-sizing: border-box;
    border: 2px solid white;
    font-family: 'Poppins', sans-serif;
    margin-top: 30px;
}

input {
    display: none;
}

input:checked + label {
    background-color: #DA1212;
}

#seleccionar-ataque {
    flex-direction: column;
    align-items: center;
}

.boton-de-ataque {
    background-color: #11468F ;
    color: white;
    border-radius: 15px;
    padding: 10px;
    box-sizing: border-box;
    border-color: transparent;
    width: 100px;
    font-family: 'Poppins', sans-serif;
}

#mensajes {
    width: 280px;
    background-color: #EEEEEE;
    padding: 20px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boton-reiniciar {
    border: none;
    color: #11468F;
    font-family: 'Poppins', sans-serif;
    
}

.ataques {
    display: grid;
    grid-template-columns: 100px 100px;
    background-color: #11468F;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 10px;    
}

#vidas-jugador, #vidas-enemigo {
    font-size: 32px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.ataques-jugador, .ataques-enemigo {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    


#mascota-jugador, #mascota-enemigo {
    font-size: 16px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

#ataques-del-jugador, #ataques-del-enemigo {
    font-size: 14px;
    margin-bottom: 0;
    color: white;

}


@media (max-width: 360px) {
    .tarjetas, .tarjetas-ataques {
        flex-direction: column;
    }
}